*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 800px;
    background: rgb(238,174,198);
    background: linear-gradient(151deg, #eeaec6 19%, #94a4e9 94%);
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-container h1{
    margin: 2rem;
    font-size: 4rem;
    color: #4968ee;
}
.container{
    margin-top: 4rem;
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.search-box{
    display: flex;
    width: 80%;
    margin-right: 10px;
}
.search-box input{
    outline: none;
    border: none;
    height: 30px;
    width: 90%;
    border-radius: 20px 0 0 20px;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding-left: 12px;
    color: #0e2350;
    box-shadow: 5px 5px 10px #7b7b7b56;
}
.search-box i{
    width: 30px;
    height: 30px;
    background-color: #4968ee;
    font-size: 1.6rem;
    line-height: 30px;
    text-align: center;
    border-radius: 0 20px 20px 0;
    box-shadow: 5px 5px 10px #7b7b7b56;

}
.select-box select{
    height: 30px;
    background-color: #4968ee;
    border: none;
    font-size: 1rem;
    outline: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #7b7b7b56;
    box-sizing: border-box;
 }
.select-box select option{
    background-color: #eeaec6;
    height: 30px;
}
.todo-container{
    margin-top: 3rem;
    height: 100%;
}
.todo-container ul{
    list-style: none;
}
.todo{
    background-color: #ffffff;
    width: fit-content;
    height: 40px;
    margin: 15px auto;
    border-radius: 50px;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0 5px 0 20px;
    font-size: 1.4rem;
    box-shadow: 5px 5px 10px #7b7b7b56;
    position: relative;
}
.i-tik{
    width: 30px;
    height: 40px;
    color: #2bff00;
    font-size: 1.5rem;
    margin: 10px;
}
.i-trash{
    width: 30px;
    height: 40px;
    color: #ff0000;
    font-size: 1.5rem;
}
.done-todo{
    /* text-decoration: line-through #0e2350 solid 2px; */
}
.done-todo::after{
    content: "";
    background-color: #7474748d;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    border-radius: 50px;
}